*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: 'Open Sans', sans-serif;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 60%;
    border: 5px solid brown;
    height: 1000px;
    margin: 5em auto;
}

.nav{
    background-color: white;
    position: fixed;
    width: 100%;
}

.menu{
    line-height: 70px;
    font-size: 1em;
}

.menu img{
    vertical-align: middle;
    margin-left: 1em;
}

.menu-list{
    display: inline-block;
}

.menu-list li{
    margin-left: 3em;
}

.menu a{
    color: black;
}

.menu-btn a{
    color: white;
}

.menu li{
    display: inline-block;
}

.menu img{
    width: 100px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* HEADER */
header{
    height: 70px;
    background-color: white;
}

.col{
    float: left;
}

.col-left{
    width: 40%;
    height: 70px;
}

.col-right{
    width: 40%;
    height: 70px;
    text-align: left;
    float: right;
}

.menu-btn{
    display: inline-block;
    height: 50px;
}

.menu .btn-blue{
    margin-left: 2em;
}
/* buttons */
.btn-blue{
    background-color: #0061FF;
    padding: .4em .8em;
    font-size: .9em;
}

/* MAIN */
/* banner */
.banner{
    background-color: #B4D0E7;
    height: 550px;
    width: 100%;
}

.banner-content{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    /* border: 2px solid black; */
    height: 500px;
}

.banner-title{
    width: 100%;
    /* border:2px solid green; */
    /* height: 70px; */
    margin: 3em 0;
}

.banner-title h1{
    font-size: 4em;
}

.banner-text{
    width: 40%;
    /* border:2px solid blue; */
    /* height: 150px; */
    margin-bottom: 1em;
}

.banner-img{
    width: 60%;
    /* border:2px solid red; */
    /* height: 150px; */
}

.banner-content .menu-btn{
    padding-top: 2em;
}

.banner-content p{
    padding-top: 1em;
    font-size: .8em;
}

i{
    font-size: 2em;
    padding-top: .5em; ;
}

/* section-plan */
.section-plan{
    width: 100%;
    border: 4px solid green;
    height: 800px;
}

.title-section{
    width: 100%;
    border: 2px solid blue;
    height: 50px;
    margin-bottom: 2em;
}

.title-plan{
    width: 100%;
    height: 30px;
    border: 2px solid gray;
}

.radio{
    width: 100%;
    height: 30px;
    border: 2px solid red;
    font-size: .8em;
    margin-right: 1em;
}

.col-section{
    margin: 0 10px;
    height: 500px;
    border: 2px solid gray;
    width: calc(100% / 3 - 20px);
    margin-top: 2em;
}

.section-bottom{
    width: 100%;
    height: 200px;
    border: 2px solid gray;
    margin-top: 2em;
}