*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: 'Open Sans', sans-serif;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 60%;
    border: 5px solid brown;
    height: 3000px;
    margin: 10em auto;
}

.nav{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.menu{
    line-height: 70px;
    font-size: 1em;
}

.menu img{
    vertical-align: middle;
    margin-left: 1em;
}

.menu-list{
    display: inline-block;
}

.menu-list li{
    margin-left: 3em;
}

.menu a{
    color: black;
}

.menu-btn a{
    color: white;
}

.partner-btn a{
    color: black;
}

.menu li{
    display: inline-block;
}

.menu img{
    width: 100px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* HEADER */
header{
    height: 70px;
    background-color: white;
}

.col{
    float: left;
}

.col-left{
    width: 40%;
    height: 70px;
}

.col-right{
    width: 40%;
    height: 70px;
    text-align: left;
    float: right;
}

.menu-btn{
    display: inline-block;
    height: 50px;
    font-size: .8em;
}

.partner-btn{
    display: inline-block;
    height: 50px;
    font-size: .8em;
    margin-top: 2em;
}

.menu .btn-blue{
    margin-left: 2em;
}

/* buttons */
.btn-blue{
    background-color: #0061FF;
    padding: .4em .8em;
    font-size: .9em;
}

.btn-white{
    background-color: white;
    border: 1px solid black;
    padding: .4em .8em;
    font-size: .9em;
}
/* MAIN */
/* banner */
.banner{
    background-color: #B4D0E7;
    height: 550px;
    width: 100%;
}

.banner-content{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    /* border: 2px solid black; */
    /* height: 500px; */
}

.banner-title{
    width: 100%;
    /* border:2px solid green; */
    /* height: 70px; */
    margin: 3em 0;
}

.banner-title h1{
    font-size: 4em;
}

.title-section h2{
    font-size: 1.5em;
}

.banner-text{
    width: 40%;
    /* border:2px solid blue; */
    /* height: 150px; */
    margin-bottom: 1em;
}

.banner-img{
    width: 60%;
    /* border:2px solid red; */
    /* height: 150px; */
}

.banner-content .menu-btn{
    padding-top: 2em;
}

.banner-content p{
    padding-top: 1em;
    font-size: .8em;
}

.banner-text i{
    font-size: 2.5em;
    color: black;
}

i{
    font-size: 2em;
    padding-top: .5em; ;
}

/* section-plan */
.section-plan{
    width: 100%;
    margin-bottom: 7em;
    /* border: 4px solid green;
    height: 2000px; */
}

.title-section{
    width: 100%;
    /* border: 2px solid blue; */
    /* height: 50px; */
    margin-bottom: 2em;
}

.title-plan{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid lightgray;
    text-align: center;
    margin-bottom: 1em;
}

.radio{
    width: 100%;
    height: 30px;
    /* border: 2px solid red; */
    font-size: .8em;
}

.col-section{
    margin: 0 10px;
    height: 800px;
    border: 1px solid lightgray;
    width: calc(100% / 3 - 20px);
    margin-top: 2em;
}

.section-bottom{
    width: calc(100% - 10px);
    margin: 0 auto;
    height: 200px;
    border: 1px solid lightgray;
    margin-top: 2em;
}

.title-plan i{
    line-height: 5px;
}

i{
    font-size: 20px;
}
span{
    font-size: .8em;
}

.description{
    margin-left: 1em;
}

.description h3{
    margin-bottom: 1em;
}

.description p{
    font-size: .8em;
    margin-bottom: .7em;
}

.month{
    color: gray;
}

.description .menu-btn{
    margin-top: 3em;
}

.description  p a{
    color: #0061FF;
    text-decoration: underline;
}

.list-description{
    margin-top: 3em;
}

.list-description i{
    color: #0061FF;
}

.enterprise{
    display: inline-block;
}

.section-bottom .menu-btn{
    position: relative;
    left: 550px;
}

#bold{
    font-weight: bold;
}

/* section partner */
.section-partner{
    width: 100%;
    margin-bottom: 5em;
    /* height: 300px; */
    /* border: 2px solid green; */
}

.partner-img{
    width: 60%;
    /* border: 1px solid blue; */
}

.partner-text{
    width: 40%;
    /* border: 1px solid yellow; */
    margin-top: 2em;
    padding-left: 2em;
}

.section-partner p{
    font-size: .8em;
    margin-top: 2em;
}

/* section operation */
.section-operation{
    width: 100%;
    /* height: 900px; */
    /* border: 2px solid green; */
    margin-bottom: 7em;
}

.col-operation{
    width: calc(100% / 3);
    /* height: 500px; */
    /* border: 1px solid blue; */
    margin-bottom: 4em;
}

.operation-img{
    width: 100%;
    /* height: 250px;
    background-color: aqua; */
}

.operation-text{
    width: 100%;
    /* height: 150px;
    background-color: blanchedalmond; */
}

.section-operation h3{
    margin-bottom: 1em
}

.section-operation p{
    font-size: .8em;
}

.operation-text a{
    text-decoration: underline;
    color: black;
}

